<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class = "title">
      <div class = "name">言語学習</div>
    </div>
    <div class = "main">
      <div class = "left">
        入力欄
      </div>
      <div class = "right">
        一覧
      </div>
    </div>
  </body>
</html>
