<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <h1>言語学習</h1>
        <p class="hl">韓国語を学習するアプリです</p>
    </header>

    <div id="content">

      <div id="main">
        <h2>入力欄</h2>
      </div>

      <nav>
        <ul>
          <li><a href="itiran.html">一覧</a></li>
          <li><a href="mondai.html">問題</a></li>
        </ul>
      </nav>

    </div>

    <footer>
      <p>制作者:kousuke</p>
    </footer>

  </body>
</html>
