body, h1, p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffffff;
}

p {
  line-height: 2em;
}

p.hl {
  font-size: 1.25em;
  color: #ffffff;
}

header {
  background-color: #00ff2f;
}

div#content {
  background-color: #99cc33;
  width: 760px;
  overflow: hidden;
}

div#main {
  background-color: #ffffff;
  width: 584px;
  float: right;
}

footer {
  color: #ffffff;
  background-color: #339933;
}